@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <img src="https://www.indiaeducation.net/imagesvr_ce/1344/DM.jpg" width="1000px"></img>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dairy Management</h2>
        <p>
            All of us use dairy products of various kinds everyday, but isn't it surprising that we don't know much about the industry or the people who make the whole process of Dairy Management happen so seamlessly and without glitches? Dairy Management enables experts to relentlessly work towards making dairy products reach almost each and every household of India, effortlessly and like clockwork
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Dairy Management</h2>
        <p>Unlike other careers, the management of a dairy business is rather different. It is done at a micro level and the dairy farmer usually sets his/her own goals, provides the management of the business and performs a part of the labour, as well. This, as a result, makes diary management a rather tricky job, as it is often difficult to separate management from labor.</p>
        
    </div>
    <div class="col-md-4">
        <h2>About Dairy Industry</h2>
        <p>The  dairy industry is fraught with many difficulties such as inefficiency, deterioration of perishable food items, unsatisfactory quality of commodities, malpractices in weights and measures, mismatch of demand and supply, long waiting times, exorbitant corruption, rude behavior of shopkeepers and poor service delivery. Streamlining of SCM processes will result in increased operational efficiency, thereby reducing transit losses and pilferages.   </p>
        
    </div>
</div>