@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Wel come to the Admin Dashboard </h1>

    <h3>@Html.ActionLink("View Product", "ViewProduct", "Product")</h3>
    <h3>@Html.ActionLink("Sale", "ViewSale", "Sale")</h3>
    <h3>@Html.ActionLink("Staff", "StaffDetails", "Staff")</h3>
</ul>